<hr>
<div class="container">
<h2>CHOOSE YOUR GAME!</h2>
</div>
<hr>
<div class="container">
<button><%= link_to 'Tictactoe', new_tictactoe_path %></button>
<form method="get" action="/tictactoe/new" class="button_to">
</form>
</div>
<hr>
<div class="container">
<button><%= link_to 'Hangman', new_hangman_path %></button>
<form method="get" action="/hangman/new" class="button_to">
</form>
</div>
<hr>