<hr>
	<div class="container">
		<h3>CHOOSE YOUR GAME!</h3>
	</div>
<hr>
  <div class="container">
    <button class="btn btn-xs"><%= link_to 'Tictactoe', new_tictactoe_path %></button>
  </div>
<hr>
  <div class="container">
    <button class="btn btn-xs"><%= link_to 'Hangman', new_hangman_path %></button>
  </div>
  <div class = "container">
  <br>
  <br>
    Current Hangman Games:
    <br>

   <table class="table table-bordered">
    <tr>
      <th>Game ID</th>
      <th>Completed?</th>
    </tr>
  <tbody>
    <% @hangman.each do |game| %>
      <tr>
        <td><%= link_to game.id, show_hangman_path(game) %></td>
        <td><%= game.over? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
