<hr>
<div class="container">
<h2>CHOOSE YOUR GAME!</h2>
</div>
<hr>
<div class="container">
<button class="btn btn-xs"><%= link_to 'Tictactoe', new_tictactoe_path %></button>
</div>
<hr>
<div class="container">
<button class="btn btn-xs"><%= link_to 'Hangman', new_hangman_path %></button>
</div>
<hr>